<form (ngSubmit)="this.submit()" (click)="this.submit()">
    <input type="button" (ngSubmit)="this.submitChild(submit1);" (click)="this.submitChild(submit1);" value="{{submit1}}"/>
    <div>
        <input type="submit" (ngSubmit)="this.submitChild(submit2);" (click)="this.submitChild(submit2);" value="{{submit2}}"/>
        <ul>
            <li>
                <input type="submit" (ngSubmit)="this.submitChild(submit3);" (click)="this.submitChild(submit3);" value="{{submit3}}"/>
            </li>
        </ul>
    </div>
</form>